<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painting</title>

</head>
<body>
    <p>Painting</p>
    <h3>{{paintings.title}}</h3>
    <p>{{paintings.description}}</p>
    <p>$ {{paintings.price}}</p>
    <a href="/paintings/new">Add a painting</a>
    <a href="/paintings">Dashboard</a>
    <a href="/logout">Logout</a>
</body>
</html>