<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Welcome!</h2>
    <h3>Login:</h3>
    {% with messages = get_flashed_messages() %}     
        {% if messages %}                            
        {% for message in messages %}            
        <p>{{message}}</p>                   
            {% endfor %}
    {% endif %}
    {% endwith %}


    <form action='/login' method="POST">
        Email: <input type="emai" name="email">
        Password : <input type="password" name="password">
        <input type="submit" value="Login">
    </form>

    <h2> Register: </h2>
    <form action="/register" method="POST">
        First name: <input type="text" name="first_name">
        Last name: <input type="text" name="last_name">
        Email: <input type="emai" name="email">
        Password: <input type="password" name="password">
        Confirm password: <input type="password" name="confirm_password">
        <input type="submit" value="register"></input>
    </form>
</body>

</html>