<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     
        {% if messages %}                            
        {% for message in messages %}            
        <p>{{message}}</p>                   
            {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Put Car up for sale</h2>
    <form action="/dashboard/create" method="POST">
    Price: $ <input type="number" name="price" value="0">
    Model: <input type="text" name="model">
    Make: <input type="text" name="make">
    Year: <input type="number" name="year" value="0">
    Description: <input type="text" name="description">
    <input type="submit" value="Add">
    </form>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>


</body>
</html>