<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style> .box{height: 100px; width: 100px; border: 1px solid black; background-color: lightblue} 
        h1{margin: 0px auto; display: flex; justify-content: center;}
        .divbox{display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap;}
        </style>
<body>
    <h1>Welcome!</h1>
    <div class="divbox"> 
    {% for i in range (0,y)%}
        <div class="box">
        </div>
    {% endfor %}
    </div>
</body>
</html>