<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <table>
    {% for i in range(0, x): %}
        <tr> 
            {% for i in range(0, 4) %}
            <td class="tableData1"></td>
            <td class="tableData2"></td>
            {% endfor %}
        </tr>
        <tr> 
            {% for i in range(0, 4): %}
            <td class="tableData2"></td>
            <td class="tableData1"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>