<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> .tableData1{ background-color: red;}
            .tableData2{ background-color: blue;}
            table tr td {height: 70px; width: 70px;}
            </style>
</head>
<body>
    <table>
    {% for i in range(8): %}
        <tr> 
            {% for i in range(4) %}
            <td class="tableData1"></td>
            <td class="tableData2"></td>
            {% endfor %}
        </tr>
        <tr> 
            {% for i in range(4): %}
            <td class="tableData2"></td>
            <td class="tableData1"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>